* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

.active {
  font-weight: bold;
  color: rgb(62, 89, 151);
  background-color: #ccc;
  padding: 6px 10px;
  border-radius: 4px;
}

body {
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

button {
  background-color: #525252;
  padding: 7px 35px;
  border-radius: 4px;
  border: none;
  color: white;
}

button:hover {
  background-color: #5c5c5c;
  border: 1px solid #ccc;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-container {
  width: 80%;
  margin: 20px auto 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-container {
  justify-content: flex-end;
}

li {
  margin-left: 50px;
  text-decoration: none;
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

/* LOGIN PAGE */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 50px auto;
}

.title-login {
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-form {
  margin-bottom: 50px;
}

.label-login {
  font-size: larger;
}

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

input[type=text]:focus {
  background-color: rgb(188, 188, 188);
}

.btn-login {
  margin-top: 25px;
  font-size: larger;
}


/* HOME PAGE */
.home-container {
  width: 80%;
  margin: 25px auto;
}

.home-title {
  margin-bottom: 20px;
}

.btn-span {
  margin-top: 50px;

}
.btn-home{
  background-color: #525252;
  padding: 5px 25px;
  border-radius: 4px;
}

.btn-home:hover {
  background-color: #5c5c5c;
  border: 1px solid #ccc;
}

/*------------------------------------------------*/

/* MEETINGS PAGE */

.meetings-container {
  width: 80%;
  margin: 0px auto;
}

.meetingForm-container {
  display: block;
}

.meetingForm-header {
  display: block;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 20px;
}

.form-label {
  font-weight: 500;
  margin-top: 15px;
}

.meetingForm-input {
  width: 40%;
  font-size: large;
  text-indent: 10px;
}

.btn-appear {
  width: 40px;
  height: 40px;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-meetings {
  display: flex;
}

.btn-meetings-card {
  width: 170px;
  height: 170px;
  margin: 10px;
  font-size: 1rem;
}

/**********************************/

.box {
  background-color: #ccc;
  color: black;
  /* width: 50%; */
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.box > p {
  font-size: 24px;
  text-align: center;
}

.box > ul > li {
  /* background-color: #525252; */
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.delete {
  background-color: #780000;
  font-size: x-small;
  padding: 5px;
  margin-left: 50px;
}

.completed {
  background-color: #606c38;
  color: white;
}



.add {
  background-color: green;
  cursor: pointer;
}

.sub {
  background-color: red;
  cursor: pointer;
}

/**********************************/